
*{
    font-family: monospace;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.topo{
    
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    font-size: 28px;
    margin: 35px;
    background-color:#040206;
    
    
    
}
.banner{
    
    background-image: url("img/superman-capa.jpg");
    background-size: cover;
    height: calc(100vh - 74px);
    max-width: 1200px;
    background-position: center;
}

.galeria-imagem{
    
    box-shadow: 0px 0px 10px 3px #ffffff;
    max-width: 1024px;
    width: 320px;
    min-height: 220px;
    margin: 25px 20px;

}

    .galeria-imagens{
        display:inline-block;
        white-space: nowrap;
        overflow:auto;
        width: 100%;
        
    }


    a{
        text-decoration: none;
    }

    span{
        color: white;
    }


.imagem-secao-canais{
    box-shadow: 0px 0px 10px 3px black;
    width: 80%;
    margin-bottom: 50px;
}

.temporada_superman{

    box-shadow: 0px 0px 10px 3px #cac4c4;
}

.rodape{
    box-shadow: 0px 10px 20px 5px #ffffff;
}

.link{
    color: white;
    text-decoration: none;
}

#secao-sinopse{
    width: 100%;
    padding: 50px 20px;
    text-decoration: none;
}

.titulo-sinopse{
    font-size: 36px;
}

.subtitulo-sinopse{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.paragrafo-sinopse{
    font-size: 20px;
    margin-bottom: 12px;
}

#secao-canais{
    width: 100%;
    padding: 50px 20px;
}

.subtitulo-canais{
    font-size:28px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
}
.paragrafo-canais{
    font-size: 20px;
    color: white;
}

#secao-temporada{
    width: 100%;
    padding: 50px 20px;
}

.subtitulo-temporada{
    font-size:28px;
    margin-bottom: 50px;
}

.temporada_1, .temporada_2, .temporada_3, .temporada_4{
    width:100%;
    margin-bottom: 40px;
    
    
   
}

.paragrafo-temporadas{
    font-size:16px;
}

.temporada_superman{
    font-size: 20px;
    margin-bottom: 10px;
}

#secao-imagens{

    width:100%;
    overflow: auto;
    background-color: darkmagenta;

}

.subtitulo-secao-imagens{
    font-size:28px;
    margin-bottom: 50px;
    color: white;
    
}

span, a{
  font-size: 20px;
  text-align:left;
}

.link_topo{
    color: white;
    text-decoration: none;
    margin: 0px 20px;
}
   

#secao-canais{

    background-color: darkmagenta;
}